@tailwind base;
@tailwind components;
@tailwind utilities;

/* body gradient using palette */
body {
  @apply bg-gradient-to-b from-palette3 to-palette6 min-h-screen;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

input, select, textarea {
  outline: none;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Remove white highlight when selecting / typing */
input, select, textarea {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: white !important;
}

/* On focus (jab click karo) */
input:focus, select:focus, textarea:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
}

/* Autofill ka white bg remove */
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}
